body {
    font-family: 'Lato', arial, sans-serif;
    margin: 0;
}

/* -- main content -- */
.content-container {
    position: relative;
    z-index: 0;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    transition: all 300ms ease-in-out;

}
header .Div-ico{
    width: 100%;
    opacity: 0.5;
}
.site-title {
    text-align: center;
    border-bottom: 1px solid #111111;
    margin-bottom: 24px;
}

.site-title h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
}



.content p {
    line-height: 1.6em;
    margin-bottom: 24px;
}

/* -- Slideout Sidebar -- */

.slideout-sidebar {
    position: fixed;
    top: 0;
right: 0;
    z-index: 9999;
    width: 350px;
    padding: 20px;
    background-color: #0A1F3C;
    transition: all 300ms ease-in-out;
    display: none;
}

.Megamenu {
    background-color: transparent;
    color: #ffffff;
    border: 0.125rem solid white;
    font-size: 0.93rem;
    padding: .4rem;
    width: 10.3rem;

}
.Megamenu-open{
    background-color: #0A1F3C;
    border: 0;
    position: relative;
    height: 3rem;
    position: absolute;
    height: 7rem;
    right: 10.6%;
    top: 0;
}
.Megamenu-div{
    background-color: #0A1F3C;
    padding: 5rem 6rem;
    display: none;
    position: absolute;
    z-index: 10000;
}


.Megamenu-div ul li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
}
.T-megamenu{
    font-family:'Barlow Condensed', sans-serif;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.Cursor-pointer{
    cursor: pointer;
}
.Fondo-logo-menu{
   background: #13315a
}
.menu-icon{
    background-color: transparent;
    border: 0;
}

.menu-icon i{
    color: #ffffff;
}

.slideout-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Btn-idioma{
    background-color: #0a3656;
    color: #ffffff;
    opacity: 0.8;
    border: 0;
    height: 3rem;
    width: 3rem;
}
.slideout-sidebar ul li {
    cursor: pointer;
    padding: 0.8rem 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
}


.slideout-sidebar ul li:last-child {
    border-bottom: 0;
}

.slideout-sidebar ul li:hover {
    color: rgba(244,244,244,1);
}

/* -- Menu Icon -- */

#menu-toggle {
    display: none;
}
#desplegable_boton2 {
    display: none;
    /* margin: 0 auto; */
    width: 100%;
    text-align: right;
}
.menu-icon {
    font-size: 24px;
    z-index: 1;
    transition: all 300ms ease-in-out;
}



/*-- The Magic --*/
#menu-toggle:checked ~ .slideout-sidebar {
    right: 0px;
}

#menu-toggle:checked + .menu-icon {
    left: 210px;
}

#menu-toggle:checked ~ .content-container {
    padding-left: 190px;
}

/* -- Media Queries -- */

@media (max-width: 991px) {

    .content-container {
        max-width: 480px;
    }

}

@media (max-width: 767px) {

    .content-container {
        max-width: 100%;
        margin: 30px auto 0;
    }

    #menu-toggle:checked ~ .content-container {
        padding-left: 0;
    }

    .slideout-sidebar ul {
        text-align: center;
        max-width: 200px;
        margin: 30px auto 0;
    }

    .menu-icon {
        left: 20px
    }

    #menu-toggle:checked ~ .slideout-sidebar {
        width: 100%;
    }

    #menu-toggle:checked + .menu-icon {
        left: 87%;
        color: #fafafa;
    }

    @media screen
    and (max-width: 736px)
    and (orientation: landscape) {

        .slideout-sidebar {
            padding: 0;
        }

        .slideout-sidebar ul {
            max-width: 100%;
            margin: 60px auto 0;
        }

        .slideout-sidebar ul li {
            display: inline-block;
            border-bottom: 0;
            width: 72px;
            padding: 18px 24px;
            margin: 0 6px 12px;
            color: #ffffff;
            background-color: #777;
        }

    }

}


@media all and (max-width: 1199px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {

}

@media all and (max-width: 575px) {
    .Megamenu {
        background-color: transparent;
        color: #ffffff;
        border: 0.125rem solid white;
        font-size: 0.63rem;
        padding: .4rem;
        width: 8.3rem;
    }
    .Logo-top{
        width: 33%;
    }
}