.CursorNormal{
    cursor: context-menu;
}
.list-group i{
    float: right!important;
}
.list-group .list-group-item{
    font-size: 13px;
}
.Btn-icono{
    border: 0;
    background-color: transparent;
    float: right;
}
.Scroll{
    overflow-y: scroll;
    max-height: 324px;
}