.F-peq{
    font-size: 12px!important;
    margin-top: 14px;
}

.F-peq2{
    font-size: 9px!important;
}

.F-grand{
    font-size: 22px!important;
}
.Select-menu-outer{
}
.Select-input{
    width: 100%!important;

}
.Select-input > input{
    width: 100%!important;
}
.Btn-editar{
    background-color: #5fd618;
    border: 0;
    height: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}
.Div-oculto{
    display: none;
}