
.Filtro-card{
    position: absolute;
    z-index: 10;
    width: 20rem;
    font-size: 0.9rem;
    color: #616161;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.Filtro-personas{
    display: none;
}
.Hover-blue:hover{
    color: white!important;
    border-color: #0A1F3C!important;
    background-color: #0A1F3C;
}

.Filtro-activado{
    color: white!important;
    border-color: #0A1F3C!important;
    background-color: #0A1F3C;
}
.Opacity{
    position: inherit!important;
    opacity: 1!important;
    margin-right: 10px;
    padding-top: 2px;
}
.Filtro-tipovuelo{
    width: 19rem;
    padding: 1rem 0rem;
}
.Filtro-tipovuelo label{
    font-size: 0.9rem!important;
    color: #616161!important;
    font-weight: 500!important;
    font-family: 'Roboto', sans-serif!important;

}
.Filtro-boton-mas{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.Filtro-boton-menos{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

}
.Filtro-gray{
    color: #b5b5b6;
}
.Btn-restablecer{
    background-color: transparent;
    border: 0;
    color: #b5b5b6;
}
.Btn-aplicar{
    background-color: transparent;
    border: 0;
    color: #2260B3;
    float: right;
    font-weight: 600;
}
.Botones-filtro .col-3{
    flex: 0 0 22%;
}

.Pack_romantico{
    background-color: #d9632a;
    color: #ffffff;
    border-color: #ffffff;
    width: 10rem;
    border: 2px solid #d9632a;
}

.Filtro-packs{
    padding-bottom: 0.6rem;
}

.Filtro .form-check-label{
    font-size: 1rem;
    font-weight: 400;
}

.Btn-gris-arreglado{
    width: 8rem!important;
    color: #666;
    font-size: 0.8rem!important;
    font-family: Roboto!important;
}