.Experiencia-completa {
    padding: 10rem 0;
    position: relative;
}

.Experiencia-completa-bkg {
    left: 0;
    position: absolute;
    top: -9%;
    z-index: -1;
}

.Experiencia-completa .row div {
    padding: 0 0.9125rem;
}
.Combina-vuelo-text{
    text-transform: inherit!important;
    font-family: 'Roboto', sans-serif!important;
    font-size: 27px;
    font-weight: normal!important;
}

.Experiencia-completa h5 {
    right: 0.125rem;
    color: white;
    font-weight: 600;
    font-size: 2.2rem;
    top: 14%;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
}

.Exp-ico-gen {
    display: flex;
    height: 26rem;
    width: 4rem;
    justify-content: center;
    align-items: flex-end;
    background-size: cover!important;
}





@media all and (max-width: 1199px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
    .Experiencia-completa h2{
        font-size: 3rem!important;
        margin-top: 1rem;
    }
    .Experiencia-completa {
       padding-top: 3.5rem!important;
        padding-bottom: 3.5rem!important;
    }
    .Experiencia-completa h5 {
        right: 0.125rem;
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
        text-transform: uppercase;
        top: 44%;
        position: absolute;
        width: 100%;
    }


    .Exp-ico{
        margin-bottom: 1rem;
    }



}

@media all and (max-width: 575px) {

}