.Footer_estilohome  .Div-ico{
    width: 50px!important;
}

.Footer_estilohome  .Div-ico img{
    width: 2.5rem!important;
}

.Footer_estilo1{
    background-color: #2260b2;
    padding: 1.5rem;
}
.Div-ico-h{
    width: 46px!important;
    margin-right: 2px;
}
.Div-ico-h img{
    width: 42px!important;

}
/*-------------------*/
/*  FOOTER */
/*-------------------*/

Footer_estilohome .Row1 {
    background-color: #2260B3;
}

.Blogp footer .Div-ico{
    width: auto!important;
    padding-left: 3px;
}
.Row1 {
    background-color: #2260B3;
}

.Footer_estilohome {
    background-color: #174382;
}


@media (max-width: 575.98px) {

    Pl-tablet-0{
        padding-left: auto;
    }
}

@media (max-width: 767.98px) {


    .Margen-movil{
        margin:0 auto;
    }
    .Logo-footer-movil{
        width: 65%;
        margin-top: 3rem;
    }
.Btn-footer-movil{
    background-color: #D24228;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-size: .9rem;
    font-weight: 600;
    padding: 0.625rem;
    width: 14.6rem;
    margin-right: -2px;
}
    Pl-tablet-0{
        padding-left: 0!important;
    }
}




@media (max-width: 900px ) and (min-width: 767px) {
    .Logo-footer-movil{
    }
    .Logo-footer-movil{
        max-width: none;
        width: 272px;

        margin-top: -33px;
    }
    Pl-tablet-0{
        padding-left: 0!important;
    }
}
@media (max-width: 1035.98px ) and (min-width: 900px) {
    .Logo-footer-movil{
        max-width: none;
        width: 393px;

        margin-top: -33px;
    }
    Pl-tablet-0{
        padding-left: 0!important;
    }
}

@media (min-width: 1550px){

}


@media (min-width: 1435px){

}

