body {
    font-family: 'Lato', arial, sans-serif;
    margin: 0;
}

/* -- main content -- */
.content-container {
    position: relative;
    z-index: 0;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    transition: all 300ms ease-in-out;

}
.Logo-top{
    padding-top: 2px;
    max-width: 300px;
}
header .Div-ico{
    width: 100%;
    opacity: 0.5;
}
.site-title {
    text-align: center;
    border-bottom: 1px solid #111111;
    margin-bottom: 24px;
}

.site-title h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
}



.content p {
    line-height: 1.6em;
    margin-bottom: 24px;
}

/* -- Slideout Sidebar -- */

.slideout-sidebar {
    position: fixed;
    top: 0;
right: 0;
    z-index: 9999;
    width: 360px;
    padding: 20px;
    background-color: #0A1F3C;
    transition: all 300ms ease-in-out;
    display: none;
    height: 100vh!important;
    overflow-x: hidden;
    overflow-y: scroll;
}
.Menu-2 li{
    font-size: 1.9rem!important;
}
.Modal-weather{
    position: absolute;
    right: 10px;
}
.Pr-16{
    padding-right: 40px;
}
.Megamenu {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid white;
    font-size: 0.93rem;
    padding: .4rem;
    width: 10.3rem;
    font-weight: 500;

}
.Megamenu-cruz{
    position: absolute;
    right: 30px;
    top: 12px;
}
.Megamenu-open{
    background-color: #0A1F3C;
    border: 0;
    position: fixed;
    height: 7rem;
    margin-top: -13px;
    position: inherit;
    height: 5rem;
    padding-top: 15px;
    /* right: 11.8%; */
    top: 0;
}
#btn_megamenu:active {
    border: 0!important;
}
.Megamenu-div{
    background-color: #0A1F3C;
    padding: 5rem 6rem;
    display: none;
    position: absolute;
    z-index: 10000;
}
.T-megamenu{
    font-family:'Barlow Condensed', sans-serif;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*MEGAMENU MOVIL*/

.Cruz{
    color: #fff;
    font-size: 3rem;
    width: 100%;
    text-align: right;
    padding-right: 2rem;
}
.Megamenu-div-movil{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 350px;
    padding: 20px;
    height: 100vh;
    background-color: #0A1F3C;
    display: none;
    width: 100%;
}
.Megamenu-div-movil p.accordion{
    padding-left: 2.5rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #273952;
margin-bottom: 1rem;
    font-size: 1.6rem!important;

}
.W-12r{
    width: 12rem;
}
.Megamenu-movil-white span{
    color: #ffffff!important;
}
.Megamenu-div-movil p.accordion:after{
    color: white!important;
    font-size: 2rem!important;
    top: -0.3rem;
    left: 2rem;
}
.Megamenu-div-movil div.panel{
    background-color: transparent!important;

}

.Megamenu-div-movil div.panel li{
    list-style: none;
    padding-left: 3.6rem;
}
.Megamenu-div-movil div.panel li span{
font-size: 1rem;
text-transform: capitalize}

.Megamenu-movil-open{
    background-color: #0A1F3C;
    border: 0;
    position: relative;
    height: 3rem;
    position: absolute;
    height: 7rem;
    right: 10.6%;
    top: 0;
}
.Megamenu-movil-div{
    background-color: #0A1F3C;
    padding: 5rem 6rem;
    display: none;
    position: absolute;
    z-index: 10000;
}


.Megamenu-div ul li{
    list-style: none;
    font-family: 'Roboto', sans-serif;


    color: white;
    text-align: left;
}
/*------------------------------------------
*/

.Cursor-pointer{
    cursor: pointer;
}
.Fondo-logo-menu{
   background: #13315a
}
.menu-icon{
    background-color: transparent;
    border: 0;
    font-size: 35px;
}

.menu-icon i{
    color: #ffffff;
}

.slideout-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Btn-idioma{
    background-color: #0a3656;
    color: #ffffff;
    opacity: 0.8;
    border: 0;
    height: 3rem;
    width: 3rem;
}
.slideout-sidebar ul li {
    cursor: pointer;
    padding: 0.8rem 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1rem;
}


.slideout-sidebar ul li:last-child {
    border-bottom: 0;
}

.slideout-sidebar ul li:hover {
    color: rgba(244,244,244,1);
}

/* -- Menu Icon -- */

#menu-toggle {
    display: none;
}
#desplegable_boton2 {
    display: none;
    /* margin: 0 auto; */
    width: auto;
    text-align: right;
}
.menu-icon {
    font-size:35px;
    z-index: 1;
    transition: all 300ms ease-in-out;
}



/*-- The Magic --*/
#menu-toggle:checked ~ .slideout-sidebar {
    right: 0px;
}

#menu-toggle:checked + .menu-icon {
    left: 210px;
}

#menu-toggle:checked ~ .content-container {
    padding-left: 190px;
}



/*ACORDEON MENU MOVIL */



p.accordion {

    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif!important;
    font-size: 2.2rem;
    margin-bottom: 0;
    cursor: pointer;

}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '+';
    font-size: 3rem;
    color: #333333;
    float: left;
    margin-left: 5px;
    position: absolute;
    left: -3rem;
    top: -.7rem;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "-";
    margin-bottom: 0;
}

/* Style the element that is used for the panel class */

div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    color: #DDDDDD;
    margin-bottom:10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif!important;

}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}


@media (max-width: 1300px) {

    .Megamenu-open {
        right: 13.8%!important;
    }

}

@media (max-width: 1100px) {

    .Megamenu-open {
        right: 16.8%!important;
    }

}

@media (max-width: 1000px) {

    .Megamenu-open {
        right: 17.8%!important;
    }

}
/* -- Media Queries -- */

@media (max-width: 991px) {

    .content-container {
        max-width: 480px;
    }


}

@media (max-width: 900px) {

 .Megamenu-div{
        padding-left: 0px!important;
    }
    .Megamenu-text-little{
        padding-right: 0px!important;
    }

}

@media (max-width: 767px) {
    .Pr-16{
        padding-right: 0px;
    }
    .content-container {
        max-width: 100%;
        margin: 30px auto 0;
    }

    #menu-toggle:checked ~ .content-container {
        padding-left: 0;
    }

    .slideout-sidebar ul {
        text-align: center;
        margin: 30px auto 0;
        margin-left: 35px!important;
    }
    .slideout-sidebar .Div-ico img{
        width: 2.9rem!important;
        margin-right: 10px;
    }

    .menu-icon {
        left: 20px
    }

    #menu-toggle:checked ~ .slideout-sidebar {
        width: 100%;
    }

    #menu-toggle:checked + .menu-icon {
        left: 87%;
        color: #fafafa;
    }

    @media (max-width: 768px)
   {

        .slideout-sidebar {
            padding: 0;
            width: 100%!important;
        }

        .slideout-sidebar ul {
            max-width: 100%;
            margin: 60px auto 0;
            margin-left: 20px!important;
        }
        .Menu-boton-movil{
            float: right;
            padding-right: 20px;
            margin-right: 16px;
            padding-top: 12px;
        }
        .Div-menu2{
            width: 100%;
        }
        .Menu-trad{
            width: 59px;
            float: left;
            margin-top: 13px;
            margin-bottom: 25px;
        }
.Fondo-logo-menu{
    display: none;
}
        .slideout-sidebar ul li {
            /*display: inline-block;
            border-bottom: 0;
            width: 72px;
            padding: 18px 24px;
            margin: 0 6px 12px;
            color: #ffffff;
            background-color: #777;*/
        }

    }

}


@media all and (max-width: 1015px) {
    .Megamenu-div{
        background-color: #0A1F3C;
        padding: 5rem 2rem;
        padding-right: 3rem;
        display: none;
        position: absolute;
        z-index: 10000;
    }

}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
    .slideout-sidebar ul li{
        padding: 0.8rem 0.1rem;
    }
    .Div-ico img{
        width: 2.2rem!important;
    }


    .Logo-top{
        width: 33%;
    }

    .Megamenu {
        background-color: transparent;
        color: #ffffff;
        border: 2px solid white;
        font-size: 0.9rem;
        /* padding: .1rem; */
        width: 11rem;
        font-weight: 500;
        /* padding-top: 5px; */
        /* padding-bottom: 3px; */
    }
    .F-icosi{
        font-size: 2.9rem;
    }
    .Btn-pad{
        padding-top: 10px;
    }

}

@media all and (max-width: 575px) {
    .slideout-sidebar {
        width: 360px;
    }


}