

.Instalaciones h1{
    color: white;
    font-weight: bold;
    font-size: 4.7rem;
    line-height: 0.9;
}

.Instalaciones h2{
    color: #333333;
    text-transform: uppercase;
    width: 35%;
    font-weight: bold;
    font-size: 3rem;
}
.Instalaciones h3{
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.25rem;
    line-height: 1.4

}
.F-15{
    font-size: 1.5rem;
    font-family: Roboto!important;
}
.Instalaciones h4{
    color: #333333;
    font-weight: bold;
font-size: 2rem;
    font-family: Roboto;
}
p  {
    color: #8f8f8f;
}

/*SECCON 1*/
.Section1-instalaciones{
    background-size: cover!important;
    background: url('../../images/instalaciones-bkg1.jpg');
    background-repeat: no-repeat;
min-height: 551px;

}





/*SECCION 2*/

.Section2-instalaciones{


}


/*FOOTER*/

.Section4-instalaciones{
    background-size: cover!important;
    background: url('../../images/instalaciones-bkg4.jpg');
    background-repeat: no-repeat;
    height: 60rem;
    margin-top: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Section4-instalaciones .Container-card{
    top: -30%;
    position: relative;
}

.Instalaciones .Btn-blue{
    width: 13rem;
    height: 2.5rem;
}



.Section4-instalaciones .Card-row {
    margin-bottom: 0!important;
}
.Section4-instalaciones .carousel-indicators{
    padding-top: 2%;
}

.Section4-instalaciones .carousel-control-prev{
    top: 45%;
}
.Section4-instalaciones .carousel-control-next{
    top: 47%;
}

.Section4-instalaciones h4{
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.Section4-instalaciones .Container-video{
}


/*SECTION 3*/

.Section3-instalaciones{
    padding-top: 12rem;
}



@media all and (max-width: 1199px) {

}

@media all and (max-width: 991px) {

}

@media all and (max-width: 768px) {

    .Instalaciones h1{
        font-size: 3rem;
        margin-top: 3rem;
    }
    .Instalaciones h5{
        width: 100%!important;
    }

}

@media all and (max-width: 575px) {

}



