
.Ficha h1 {
    color: white;
    font-weight: bold;
    font-size: 4.7rem;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1;
    margin-bottom: 1.2rem;
}

.Vol-coloms-g{
    height: 8rem;
}


.Ficha h1>span{
    color: #4e80c1;
    font-weight: bold;


}

.Section2-ficha h2{
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.6rem!important;
}
.Ficha h3{
    color: #333333;
    font-family: 'Roboto', sans-serif!important;
    font-weight: normal!important;
    text-transform: none;
    font-size: 1.7rem;

}
.Fecha-abierta-row{
     height: 2rem;
 }
.Fecha-abierta-row label{
font-size: 0.9rem!important;}
.Ficha h4{
    color: #333333;
    font-weight: bold;
    font-size: 1.5rem;
}


.Card-body-fixed{
    width: 90%!important;
}

.Col-fixed{
    background-color: white;
height: 27rem;
}

.H1-filtro{
    font-style: italic!important;
    color: #9a9a9a!important;
    font-size: 1.3rem!important;
    border-bottom: 1.5px solid #9a9a9a!important;
    border-top: 1.5px solid #9a9a9a!important;
    padding: 2.1rem 0!important;
    margin: auto!important;
    width: 80%!important;
    text-align: center;
    font-weight: 500!important;
}
.H1-filtro>span{
    color: #4e80c1!important;
    font-weight: bold!important;
}
.react-calendar__month-view__weekdays{
    border-bottom: 1px solid #ededed;
    margin-bottom: 13px;
}

.Form-reservaa input{
    border-radius: 0!important;
}
.Ficha .Flechas-faq{
    position: absolute;
    right: 0px;
    top: 11px;
 }

/*SECCON 1*/
.Section1-ficha{
    background-size: cover!important;
    background: url('../../images/ficha-bkg1.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 0rem;
    min-height: 38rem;

}
.Ico-ficha{
    height: 35px;
}
.Ficha-info{
    font-size: 0.7rem!important;
}
.form-check-label{
    font-size: 0.9rem;
}
.Btn-gris{
    background-color: #999999;
    color: #fff;
    border: 0;
    padding: 0.5rem;
    width: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
}


/*SECCON 2*/
.Section2-ficha {
    position: relative;
    padding-top: 2rem;
}
.Section2-ficha  p.accordion{
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.6rem!important;
    position: relative!important;

}
.Ficha .accordion p{
    color: #333333!important;
    font-family: 'Barlow Condensed', sans-serif!important;
    font-size: 2.6rem!important;
    position: relative!important;


}
.Padding-30{
    padding-left: 30px!important;
    padding-right: 30px!important;
}
.Section2-ficha p a{
    color: #2260b2;
    text-decoration: underline;
    font-weight: 600;
}
/*ICONOS FONT AWESOMEE A COLOR*/

.Face-ico-color{
    color:#3a559f;
    font-size: 2.2rem;
}
.Twit-ico-color{
    color:#50abf1;
    font-size: 2.2rem;
}
.You-ico-color{
    color:#dc472e;
    font-size: 2.2rem;
}
.Ins-ico-color{
    color:#507fa7;
    font-size: 2.2rem;
}
.Goo-ico-color{
    color:#dd4b39;
    font-size: 2.2rem;
}
.Link-ico-color{
    color:#0084b1;
    font-size: 2.2rem;
}






.Seccion3-ficha-bkg {
    right: 0%;
    position: absolute;
    top: -13%;
    z-index: -10;
}

.Ficha .Row-exp img{
    height: 15rem;
}

.Ficha .Row-exp>div{
    text-align: center;
}

.Elige-experiencia-titulo{
    color: #666666;
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
}


/*SECCION 3*/
.Review-titulo{
    margin-bottom: 2rem;
}
.Review-opinion{
    margin-bottom: 1.7rem;
}
.Estrella-grande{
    font-size: 1.2rem;
    color: #e7711b;
}
.Estrella-peq{
    font-size: 0.8rem;
    color: #e7711b;
}
.Review-titulo>div{
    border-bottom: 1px solid #f7f7f7;
}

.Review-grispeq{
    color: #cdc0af;
    font-size: 0.8rem;
}
.Review-punt{
    color: #e7711b;
    font-size: 2.2rem;
}
.Section3-ficha{
    position: relative;
    padding-top: 6rem ;
    padding-bottom: 8rem ;

}
.Padding-30{
    padding-left: 30px!important;
}
.Padding-1px{
    padding-right: 1px!important;
}
.Div-imagenesinstalaciones{
    height: 9rem;
    cursor: pointer;
    padding-right: 1px!important;
    padding-bottom: 2px!important;
}
.Ficha-btn{
    height: 2.3rem!important;
    width: 19rem!important;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px;
}

iframe{
    margin-top: 0.3rem;
    border: 0;
    width: 100%;
    height: 30rem;
}

/*FOOTER*/
.Section4-ficha{
    background:  url('../../images/bkg-experiencia-1920.jpg');
    background-repeat: no-repeat;
    height: 70rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: cover!important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-clip-path: polygon(0 22%, 100% 6%, 100% 100%, 0% 100%);
    clip-path: polygon(0 22%, 100% 6%, 100% 100%, 0% 100%);
    padding-top: 14rem;

}
.Ficha footer .Div-ico {
    width: 7%!important;
}
.Ficha .Btn-blue{
    width: 13rem;
    height: 2.5rem;
}



.Section4-ficha .Card-row {
    margin-bottom: 0!important;
}
.Section4-ficha .carousel-indicators{
    padding-top: 2%;
}

.Section4-ficha .carousel-control-prev{
    top: 45%;
}
.Section4-ficha .carousel-control-next{
    top: 47%;
}
.Label-form{
    font-size: 1.4rem!important;
    color: #8f8f8f!important;
    font-weight: 300!important;
    text-transform: capitalize!important;
    font-family: 'Roboto', sans-serif!important;
}

.Span-precio{
    font-size: 0.8rem;
    color: #333333;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

.Section4-ficha .Container-video{
}


/*SECTION 3*/

.Section4-ficha{
}
.P-fixed{
    position: fixed!important;
    z-index: 98;
}
.Links-footer>div{
    padding-top: 0.5rem;
    text-align: left;
}
.Links-footer>div a{
    text-align: left;
    font-size: 0.9rem;
}
.Ficha footer{
    background-color: #2260b2;
}

.Ficha footer .Div-ico{
    width: 9.3%;
}

.Ficha footer .Div-ico img{
    width: 2.7rem;
}

.Exp-peq{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
    position: relative;
}
.Exp-peq h5{
    color: white;
    font-weight: 600;
    position: absolute;
    right: 28%;
    top: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
}




@media all and (max-width: 1199px) {
    .Col-fixed{
        background-color: white;
        height: 28rem;
    }


}
@media all and (max-width: 1100px) {

.Col-fixed{
    background-color: white;
    height: 29rem;
}
}

@media all and (max-width: 1045px) {

    .Label-form {
        font-size: 1.2rem!important;
    }
}

@media all and (max-width: 991px) {
    .Ficha-precio{
        font-size: 2rem;
    }

    .Form-reservaa{
        margin-top: 46px!important;
    }

    .Letrasch{
 font-size: 0.8rem!important;
    }
    .Fecha-abierta-row label{
        font-size: 0.8rem!important;
        padding-top: 2px;

    }

}
@media all and (max-width: 940px) {
}
@media all and (max-width: 895px) {
    .Label-form{
        font-size: 1rem!important;
    }
    .Col-fixed {
        height: 26rem!important;
    }
}


@media all and (max-width: 768px) {
    .Col-fixed{
        background-color: white;
        height: 29rem!important;
    }
    .Section4-ficha{
        height: 30rem!important;
        padding-top: 1rem;
    }
    .Padding-l-movil{
        padding: 0!important;
    }
    .Section2-ficha  p.accordion{
        color: #333333!important;
        padding-left: 1rem;
        font-family: 'Barlow Condensed', sans-serif!important;
        width: 100%;
        font-size: 1.6rem!important;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem!important;
        border-bottom: 1px solid #a0a0a0;
    }

    .Col-fixed {
          background-color: white;
          height: 30rem;
          position: relative!important;
      }
    .Padding-30{
        padding-left: 0!important;
    }

    .Ficha h1{
        font-size: 3.5rem;
    }
    iframe{
        height: 15rem;
    }
    .Section3-ficha{
        padding-bottom: 0;
    }
    .Experiencia-completa{
        padding-bottom: 0;
    }

    .Col-tarjeta {
        position: relative;
        top: auto;
        right: auto;
    }
}

@media all and (max-width: 565px) {
    .Form-reservaa{
        margin-top: 16px!important;
    }
}