

.modal-backdrop {
    position: initial!important;}

.Padding-ico-6{
    padding-top: 12px;
}
.Padding-ico-4{
    padding-top: 18px;
}
.Arrow-down{
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
}
.Arrow-down a{
    color: #fff;
    font-size: 4rem;
}
.Textoizq h4{
    text-align: left;
    font-size: 2.25rem;
}
.Textoizq p{
    text-align: left;
}
@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

.Bottom-5 {
    position: relative;
    bottom: 5%;
}

.Banner-iconos{
    font-size: 2rem;
    line-height: 1;
    font-family: 'Barlow Condensed', sans-serif;
}
.Home-h1 {
    font-weight: 700 !important;
    color: white;
    font-size: 11rem;

}


.Combina-vuelo-text{
    text-transform: inherit!important;
    font-family: 'Roboto', sans-serif!important;
    font-size: 27px;
}

.Home-h2  {
    font-size: 4rem!important;
    color: white;
    text-transform: none;
}
.Gray{
    color: #333333!important;
}
.App {
    text-align: center;
}

.Little-text {
    font-size: 0.9rem;
}

.Little-text2 {
    font-size: 0.7rem;
}

.Little-text3 {
    font-size: 0.5rem;
}

/*-------------------*/
/*  SECCION 1 */
/*-------------------*/

/*-------------------*/
/*  MEGAMENU */
/*-------------------*/


header > .container {
    margin: 10% auto;
}

.Iconos-header {
    border-left: 0.0625rem solid white;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.AbajoTxt{
    font-size: 1.1rem;
    line-height: 1.1;
}

.Iconos-header h6 {
    margin-bottom: 7%;
    height: 10%
}

.Iconos-header p {
    font-size: 2rem;
    font-weight: bold;
    font-weight: bold;
    line-height: 1!important;
    font-family: "Barlow Condensed"!important;
}
.Personaliza-experiencia-text{
    font-size: 5rem;
}

/*CON PNG*/
/*.Section1 {
    background-color: #1d5299;
    opacity: 0.8;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 5.5rem;
    transform: skewY(3deg) translateY(-4.25rem);
    !*margin-top: -6.25rem;
    padding-top: 6.875rem;*!
    padding-top: 4.25rem;
}
.Section1-bkg{
    position: absolute;
    top: 0;
    right: 0;
}*/


.Section1 {
    background-size: cover!important;

    opacity: 1;
    background-repeat: no-repeat;
    padding-top: 1rem;
    padding-bottom: 5.5rem;
    transform: skewY(0deg) ;
    /*margin-top: -6.25rem;
    padding-top: 6.875rem;*/
    padding-top: 15rem;
}
.react-parallax-bgimage{
    top: -30px;
}
.Home>.react-parallax{
    transform: skewY(3deg) translateY(-4.25rem);
}
.Home>header{
    position: absolute;
    z-index: 1000;
}


.Section1 > * {
    transform: skewY(-3deg);
}

/*.Section1>div{
  margin:0;
  padding: 0;
  background-color: #275faa;
  opacity: 80;
}*/
.Ico-banners{
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Roboto!important;
}
.Asterisco {
    left: -1.02rem;
    position: absolute;
    top: -0.6125rem;
    font-size: 2.8rem;
}

.Section1 header {
    margin-bottom: 10%;
}



/*-------------------*/
/*  SECCION 2 */
/*-------------------*/


.row-iconos img{
    width: 7rem;
}
.Section2 {
    position: relative;
    padding: 12rem 0;
}



.Seccion2-bkg {
    right: 0%;
    width: 55%;
    position: fixed;
    top: -13%;
    z-index: -10;
    opacity: 0.8;
}


.W-60 {
    width: 60%;
}

.Section2 .container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.Section2 .card {
    -webkit-box-shadow: 0 0 2.813rem -0.5625rem rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 2.813rem -0.5625rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2.813rem -0.5625rem rgba(0, 0, 0, 0.4);
}





/*-------------------*/
/*  SECCION 3 */

/*-------------------*/
.Diagonal1 {
    z-index: -1;
    background: #014db4;

    position: relative;
    height: 7rem;
    bottom: 3.5rem;
    width: 100%;
    -webkit-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg);
}

.Diagonal2 {
    background: #014db4;
    position: relative;
    height: 7rem;
    top: 3.5rem;
    width: 100%;
    -webkit-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
}

.fVerde {
    filter: hue-rotate(120deg);
}

.Section3 {
    z-index: 2;
    position: relative;
    background: #014db4;
    opacity: 0.8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Bk-3-div {
    position: relative;
    z-index: -100000000;
}

.Bk-3-ico-div {
    position: relative;
    z-index: -100000000;
}

.Section3-bkg-ico {
    position: absolute !important;
    top: 9rem;
    right: 12rem;
}

.Section3-bkg {
    left: 0;
    position: absolute;
    top: auto;
    top: -37.3rem;

}

.Section3 .container {
}


.Justify-md-content-end{
    justify-content: flex-end;
}
/*-------------------*/
/*  SECCION 4 */
/*-------------------*/

/*-------------------*/
/*  SECCION 5 */
/*-------------------*/
.Section5 {
    padding-top: 20rem;
}


.Section5 .Home-h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

.Section5 div {
    padding: 0;
    margin: 0;
}
.Header-sec2{
    position: relative;
    z-index: -3;
    text-align: left;
}

.Header-sec3{
    text-align: left;
    z-index: -1;
    position: relative;
}

.Home footer .Div-ico{
    width: 19.3%;
}

 footer .Div-ico img{
    width: 2.9rem!important;
}

.Footer_estilo1{
    background-color: #2260b2;
    padding: 1.5rem;
}

/*-------------------*/
/*  FOOTER */
/*-------------------*/

footer .Row1 {
    background-color: #2260B3;
}




.Home footer>.container-fluid{
    background-color: #174382;
}


.Btn-arreglado{
    background-color: #051959 !important;
    float: left;
}


@media (max-width: 575.98px) {


}

@media (max-width: 767.98px) {

    .Seccion2-bkg {
        right: 0%;
        width: 75%;
        position: absolute;
        top: -13%;
        z-index: -10;
    }

    .Section1{
        padding-top: 10rem;

    }
    .Section2 {
        position: relative;
        padding: 12rem 0;
        padding-top: 0;
    }
    .Padding-ico-5{
        padding-top: 18px;
    }
    .Padding-ico-4{
        padding-top: 16px!important;
    }
    .Home-h1 {
        font-weight: 700!important;
        color: white;
        line-height: 1!important;
        font-size: 4rem;

    }
    .Home-h2 span{
        font-weight: 700!important;
        color: white;
        line-height: 1!important;
        font-size: 2rem;

    }
    .Header-sec2{
        position: relative;
        z-index: -3;
        text-align: center;
    }
    .Section2 h2{
        font-weight: bold;
        font-size: 2.8rem!important;
    }
    .Section2 h3{
        font-size: 1rem;
        font-weight: normal;
        font-family: 'Roboto', sans-serif!important;
        text-transform: initial;
    }
    .Section3 .container{
        text-align: left;
    }

    .Header-sec3{
        text-align: center;
    }
    .Iconos-header{
        text-align: center;
        border-left: 0;
    }
    .Iconos-header h6{
       margin-top: 0.5rem;
        border-bottom: 1px solid white;
        font-size: 0.9rem;
        padding-bottom: 1.3rem;
    }
    .Little-text{
        text-align: left;
        font-size: 0.7rem;
    }
    .Asterisco{
        left: 0.4375rem;
        position: absolute;
        top: -0.1rem;
        font-size: 1rem;
    }

    .Section5 {
        padding-top: 0rem;
    }

    .row-iconos img{
        width: 4rem;
        height: 3rem;
    }
    .Home footer .Div-ico {
        width: auto;
        padding-right: 0.5rem;
        width: 20%;

    }
    .Justify-md-content-end{
        justify-content: space-around;
    }
    .Little-text3{
        font-size: 0.9rem!important;
    }
.Ic-75{
    width: 75%;
}
    .Text-left-m{
        text-align: left!important;

    }
}

@media (max-width: 991.98px) {  }

@media (max-width: 1199.98px) {  }

@media (min-width: 1550px){
.Diagonal1{
    height: 14rem;
    bottom: 7.5rem;
}
    .Diagonal2 {
        height: 13rem;
        top: 6.5rem;}
}



