#modal_cupon{
    z-index: 999999;
}
/*FASES*/
#fase1{

}
#fase2{
display: none;
}
#fase3{
    display: none;
}
#fase4{
    display: none;
}
#fase5{
    display: none;
}
#fecha_disponible{
    display: none;
}
.Disabled{
    opacity: 0.8;
}
.w-97{
    width: 97% !important;
}
.Titulo-ac{
    color: #fff;
    font-family: Roboto;
    font-size: 0.95rem;
    text-align: left;
    margin-top: 20px;

}
.Fechad-txt{
    font-size: 0.7rem;
}
.Acompanante div{
    float: left;
}
#modal_cupon .react-calendar{
    box-shadow: none;
}
#modal_cupon .react-date-picker__calendar.react-date-picker__calendar--closed {
    font-size: 11px;
    width: 258px;}
#modal_cupon .react-date-picker__calendar.react-date-picker__calendar--open {
    font-size: 11px;
    width: 258px;}
.Span-fecha{
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.3;
    text-align: left!important;
    font-family: 'Roboto', sans-serif;
}
.Boton-cupon {
    width: 100%;
    color: #fff;
    background-color: #014db4;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    font-size: 27px !important;
    font-weight: 500;
}
.Back-dblue{
    background-color: #0A1F3C;
    padding: 20px;
}
.Titulo-cupon {
    border: 0;
    color: #014db4;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;

}


.Titulo-cupon > h5 {
    font-size: 4.5rem;
    font-weight: 600;
    color: #fff;
    text-align: left !important;
    text-transform: uppercase;
    font-family: "Barlow Condensed";
    line-height: 1;
}

.Titulo-cupon > span {
    margin-top: 4px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
line-height: 1.3;
    text-align: left!important;
    font-family: 'Roboto', sans-serif;
}
.modal-footer{
    border: 0!important;
}
.Cuponesh5 {
    font-size: 1.7rem;
    font-weight: 500;
    color: #014db4;
    font-family: 'Roboto', sans-serif;
}

.Cuponesh52 {
    font-size: 1.7rem;
    color: #014db4;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}

.H-70vh {
    height: 70vh;
}

.Oculto {
    display: none;
}

.Mw-50 {
    max-width: 50% !important;
}

.Mw-40-cup {
    max-width: 40% !important;
}
.Mw-45-cup {
    max-width: 40% !important;
}
.Cerrar-cupon{
    position: absolute;
    top: -6px;
    right: 7px;
    cursor: pointer;
    width: 27px;
}
.Input-cupon {
    border: 0;
    font-size: 16px;
    font-weight: 500;
    background-color: #0a3f62;
    padding:  9px 0.505rem!important;
    text-align: left!important;
    color: #fff;
    margin-right:  20px!important;
    padding-left: 16px!important;
}
.Validar-cupon{
    font-size: 14px!important;
    padding-top: 0.69rem!important;
}

#modal_cupon{
    background-color: rgba(0, 0, 0, 0.63);
}
#error_cupon{
    font-size: 0.8rem;
    display: none;
}
.Fecha-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}

.Fecha-input::-moz-placeholder { /* Firefox 19+ */
    color: white;
}

.Fecha-input:-ms-input-placeholder { /* IE 10+ */
    color: white;
}

.Fecha-input:-moz-placeholder { /* Firefox 18- */
    color: white;
}


.Input-cupon::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;

    text-transform: uppercase;
    font-weight: 500;
}

.Input-cupon::-moz-placeholder { /* Firefox 19+ */
    color: white;

    text-transform: uppercase;
    font-weight: 500;
}

.Input-cupon:-ms-input-placeholder { /* IE 10+ */
    color: white;

    text-transform: uppercase;
    font-weight: 500;
}

.Input-cupon:-moz-placeholder { /* Firefox 18- */
    color: white;

    text-transform: uppercase;
    font-weight: 500;
}

.Problema-txt{
    color: #fff!important;
    font-size: 0.75rem;
}

.Problema-txt a{
    color: #fff!important;
    font-size: 0.75rem;
    text-decoration: underline;
}

.Blue{
    background-color: #0a3656!important;
}
.Cambiar-width{
    width: 184px!important;
}
@media (max-width: 1450px){
    .Ficha .modal .Mw-45-cup{
        max-width: 80% !important;
    }
    .Home .modal .Mw-45-cup{
        max-width: 80% !important;
    }
    .Ficha .modal .Mw-40-cup{
        max-width: 80% !important;
    }
    .Home .modal .Mw-40-cup{
        max-width: 80% !important;
    }

}

@media (max-width: 768px){
    .Home .modal-body .react-calendar{
        width: 350px!important;
        max-width: 100%!important;
        background: white;
        border: 0;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.125em;
        margin-top: 20px!important;
    }
    .Home .modal .w-25{
        width: 20% !important;
    }
    .Footer-precio{
        width: 100% !important;
    }
    .Home .modal .Mw-45-cup {
        max-width: 94% !important;
    }
    .Btn-red.Validar-cupon {
        width: 98%!important;
        font-size: 14px!important;
    }
}
@media (max-width: 700px){
    .Btn-red.Validar-cupon {
        width: 98%!important;

        font-size: 0.69rem!important;
    }
    .Input-cupon::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .Input-cupon::-moz-placeholder { /* Firefox 19+ */
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .Input-cupon:-ms-input-placeholder { /* IE 10+ */
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .Input-cupon:-moz-placeholder { /* Firefox 18- */
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
    }
    .Home .modal .w-25{
        width: 24% !important;
    }
    .Cambiar-width{
        width: 184px!important;
    }
}
@media (max-width: 460px){
    .Ficha .modal-body .react-calendar__navigation__label{
        font-size: 8px;
    }
    .Home .modal .w-25{
        width: 28% !important;
    }
}
@media (max-width: 360px){
    .Home .modal .w-25{
        width: 32% !important;
    }
    .Home .modal-body .react-calendar{
        width: 230px!important;
        max-width: 100%!important;
        background: white;
        border: 1px solid #a0a096;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.125em;
        margin-top: 20px!important;
    }
    .Padding-l-movil-0{
        padding-left: 0!important;
    }
    .Home .modal-body .react-calendar__navigation__label{
       font-size: 8px;
   }
    .react-calendar button time {
        color: #333333;

        font-size: 0.6rem;}

    .Home .modal .w-25 {
        width: 49.5% !important;
    }
}
@media (max-width: 330px){

    .Funte-pew{
        font-size: 10px!important;
    }
}