
.Categorias {
    position: relative;
}

.Div-categorias h1 {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: 1;
}

.Globo-img2{
    position: absolute;
    right: 0;
    z-index: -1;
}

.Experiencia-completa-cat {
    padding: 10rem 0;
    position: relative;
    z-index: 2;
}

.Experiencia-completa-bkg-cat {
    left: 0;
    position: absolute;
    bottom: -10%;
    z-index: -1;
}
.Z-index2{
    z-index: 3;
}
.Experiencia-completa-cat .row div {
    padding: 0 0.9125rem;
}

.Experiencia-completa-cat h5 {
    right: 0.125rem;
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
    top: 20%;

    position: absolute;
    width: 100%;
}


.Div-categorias h5 {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.Col-tarjeta {
    position: absolute;
    top: 9rem;
    right: 2rem;
    text-align: -webkit-right;
}

.Categorias h1 {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.Categorias h1 > span {
    color: #4e80c1;
    font-weight: bold;

}

.Categorias h2 {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
}

.Categorias h3 {
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;

}

.Categorias h4 {
    color: #333333;
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

/*SECCON 1*/
.Section1-categorias {
    background: url('../../images/categorias-bkg1.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    height: 42rem;

}

/*SECCON 2*/
.Section2-categorias {
    position: relative;
    padding-top: 2rem;
}

.Seccion3-categorias-bkg {
    right: 0%;
    position: absolute;
    top: -13%;
    z-index: -10;
}

/*SECCION 3*/

.Section3-categorias {
    background-size: cover !important;
    background:  url('../../images/bkg-experiencia-1920.jpg');
    background-repeat: no-repeat;
    height: 84rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Volar-con-niños h2{
    font-size: 3.7rem!important;
    margin-bottom: 1.5rem;
}

.Botones-categorias .col-3 {
    flex: 0 0 22%;
}

/*FOOTER*/
/*
.Section4-categorias{
    background-size: cover!important;
    background: url('../../images/categorias-bkg4.jpg');
    background-repeat: no-repeat;
    height: 60rem;
    margin-top: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Section4-categorias .Container-card{
    top: -30%;
    position: relative;
}*/

.Categorias .Btn-blue {
    width: 13rem;
    height: 2.5rem;
}

.Section4-categorias .Card-row {
    margin-bottom: 0 !important;
}

.Section4-categorias .carousel-indicators {
    padding-top: 2%;
}

.Section4-categorias .carousel-control-prev {
    top: 45%;
}

.Section4-categorias .carousel-control-next {
    top: 47%;
}

.
.Section4-categorias .Container-video {
}

/*SECTION 3*/

.Section4-categorias {
}

.Links-footer > div {
    padding-top: 0.5rem;
    text-align: left;
}

.Links-footer > div a {
    text-align: left;
    font-size: 0.9rem;
}

.Categorias footer {
    background-color: #2260b2;
    padding: 1.5rem;
}

.Categorias footer .Div-ico {
    width: 7.3%;
}

.Categorias footer .Div-ico img {
    width: 2.7rem;
}

.Categorias-card {
    position: absolute;
    z-index: 10;
    height: 13rem;
    width: 20rem;
    font-size: .92rem;
    color: #616161;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.Categorias-personas {
    display: none;
}

.Categorias-tipovuelo {
    height: 17.4rem;
    width: 19rem;
}

.Categorias-boton-mas {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2260B3;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: #2260B3;
    font-weight: bold;
    cursor: pointer;
}

.Categorias-boton-menos {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b5b5b6;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: #b5b5b6;
    font-weight: bold;
    cursor: pointer;

}

.Categorias-gray {
    color: #b5b5b6;
}

.Btn-restablecer {
    background-color: transparent;
    border: 0;
    color: #b5b5b6;
}

.Btn-aplicar {
    background-color: transparent;
    border: 0;
    color: #2260B3;
    float: right;
    font-weight: 600;
}

.Categorias .form-check-label {
    font-size: 1rem;
    font-weight: 400;
}

.Input-gray {
    color: #b5b5b6;
    font-size: .75rem !important;
}

.Input-gray .form-check-label {
    color: #b5b5b6;
    font-size: .75rem !important;
}

@media (min-width: 1550px) {
    .Section1-categorias {
        background-size: cover !important;
        height: auto;

    }
}

@media all and (max-width: 1199px) {
    .Footer_estilohome{
        display: none;
    }
}

@media all and (max-width: 991px) {
    .Footer_estilohome{
        display: none;
    }
}

@media all and (max-width: 768px) {
    .Footer_estilohome{
        display: none;
    }

    .Experiencia-completa-cat h2{
        font-size: 3rem!important;
        margin-top: 1rem;
    }
    .Experiencia-completa-cat h5 {
        right: 0.125rem;
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
        text-transform: uppercase;
        top: 20%;
        position: absolute;
        width: 100%;
    }
    .Exp-ico{
        margin-bottom: 1rem;
    }
    .Categorias .Card-roja{
        display: none;
    }

}

@media all and (max-width: 575px) {
    .Footer_estilo1{
        display: none;
    }

    .Footer_estilohome{
        display: initial;
    }
    .Botones-filtro{
        display: none;
    }
    .Filtro h1 {
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        padding-top: 3rem;
        text-transform: uppercase;
    }
}
