.Entradablog-h3{
    color: #333333;
}
.Pregunta-div{
    border-bottom: 1px solid #DDDDDD;
    position: relative;

}

.Flechas-faq{
    position: absolute;
    right: -10px;
    top: 7px;
}
.Ocultar{
    display: none;
}
p.accordion {

    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif!important;
    font-size: 2.2rem;
    margin-bottom: 0;
    cursor: pointer;

}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.Faq p.accordion:after {
    content: '+';
    font-size: 3rem;
    color: #333333;
    float: left;
    margin-left: 5px;
    position: absolute;
    left: -3rem;
    top: -0.1rem;
}

/* Unicode character for "minus" sign (-) */
.Faq p.accordion.active:after {
    content: "-";
    margin-bottom: 0;
}



/* Style the element that is used for the panel class */

div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    color: #DDDDDD;
    margin-bottom:10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif!important;

}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

@media (max-width: 1025px){
    .Pregunta-div {

    padding-right: 0px}
    .Z-index-bajo{
        z-index: -1000;
    }


    .Faq p.accordion:after {
        content: '+';
        font-size: 3rem;
        color: #333333;
        float: left;
        margin-left: 5px;
        position: absolute;
        left: -3rem;
        top: -0.1rem;
        display: none;
    }

    /* Unicode character for "minus" sign (-) */
    .Faq p.accordion.active:after {
        content: "-";
        margin-bottom: 0;
        display: none;
    }
    /* Unicode character for "plus" sign (+) */
    p.accordion:before {
        content: url('../../images/flecha-abajo.png') !important;

        text-align: right;
        font-size: 3rem;
        color: #333333;
        float: left;
        margin-left: 5px;
        position: absolute;
        right: 10px;
        top: -.7rem;
    }

    /* Unicode character for "minus" sign (-) */
    p.accordion.active:before {
        content: url('../../images/flecha-arriba.png') !important;
        text-align: right;

        margin-bottom: 0;
    }
    }

@media (max-width: 768px){
    .Faq p.accordion{
        font-size: 1.6rem !important;
    }
    p.accordion:before {
        content: url('../../images/flecha-abajo.png') !important;

        text-align: right;
        font-size: 3rem;
        color: #333333;
        float: left;
        margin-left: 5px;
        position: absolute;
        right: 0px;
        top: -1.5rem;
    }

    /* Unicode character for "minus" sign (-) */
    p.accordion.active:before {
        content: url('../../images/flecha-arriba.png') !important;
        text-align: right;
        top: -1.5rem;
        right: 0px;

        margin-bottom: 0;
    }
}