

.Contact h1{
    color: white;
    font-size: 4.7rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    max-width: 90%;
    line-height: .9;
    margin-bottom: 1rem;
    margin-top: 2rem;

}
.Contact h1>span{
    color: #4e80c1;
    font-weight: bold;


}

.Contact h2{
    color: #333333;
    text-transform: uppercase;
    width: 35%;
    font-weight: bold;
    font-size: 3rem;
}
.Contact h3{
    color: white;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-size: 1.3rem;
    line-height: 1.3;
}

.Contact h4{
    color: #333333;
    font-weight: bold;
    font-size: 1.5rem;
}
p  {
    color: #8f8f8f;
}

/*SECCON 1*/
.Section1-contact{
    background-size: cover!important;
    background: url('../../images/faq-bkg1.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    min-height: 30rem;

}
.Contact h2{
    width: 100%!important;
}
.Btn-gris{
    background-color: #999999;
    color: #fff;
    border: 0;
    padding: 0.5rem;
    width: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
}


/*SECCON 2*/
.Section2-contact {
    position: relative;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}



.Seccion3-contact-bkg {
    right: 0%;
    position: absolute;
    top: -4%;
    z-index: -10;
    width: 40%;

}





/*SECCION 3*/

.Section3-contact{
    position: relative;
    padding-top: 1rem ;

}


/*FOOTER*/

.Section4-contact{
    background:  url('../../images/bkg-experiencia-1920.jpg');
    background-repeat: no-repeat;
    height: 70rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover!important;
    justify-content: center;
    -webkit-clip-path: polygon(0 22%, 100% 6%, 100% 100%, 0% 100%);
    clip-path: polygon(0 22%, 100% 6%, 100% 100%, 0% 100%);
    padding-top: 14rem;

}
.Section4-contact>*{


}


.Contact .Btn-blue{
    width: 13rem;
    height: 2.5rem;
}



.Section4-contact .Card-row {
    margin-bottom: 0!important;
}
.Section4-contact .carousel-indicators{
    padding-top: 2%;
}

.Section4-contact .carousel-control-prev{
    top: 45%;
}
.Section4-contact .carousel-control-next{
    top: 47%;
}

.

.Section4-contact .Container-video{
}


/*SECTION 3*/

.Section4-contact{
}

.Links-footer>div{
    padding-top: 0.5rem;
    text-align: left;
}
.Links-footer>div a{
    text-align: left;
    font-size: 0.9rem;
}
.Contact footer{
    background-color: #2260b2;
    padding: 1.5rem;
}

.Contact footer .Div-ico{
    width: 7%;
}

.Contact footer .Div-ico img{
    width: 2.7rem;
}



@media all and (max-width: 1199px) {

}

@media all and (max-width: 991px) {

}

@media all and (max-width: 768px) {

    p.accordion{
        font-size: 1.3rem!important;
    }
    .Section2-contact{
        padding-left: 4rem!important;
        padding-right: 0rem!important;
        padding-top: 0!important;
    }
    .Contact h2{
        width: 100%!important;
        font-size: 2.7rem!important;
    }

    .Section4-contact{
        padding-top: 0;
    }
    .Contact .Experiencia-completa{
        padding-bottom: 0;
    }
    .Contact h1{
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    .Contact h3{
        font-size: 1.1rem;
    }
    .Contact p{
        font-size: 0.9rem;
    }


}

@media all and (max-width: 575px) {

}