.rbc-toolbar{
    font-size: 13px!important;
}
.rbc-calendar{
    font-size: 13px!important;

}

.rbc-day-bg{
    cursor: pointer;
}

.rbc-day-bg:hover{
   background-color: #a3afd3;
    transition: 0.8s;
}