

.Pilotos h1{
    color: white;
    font-weight: bold;
    font-size: 4.7rem;
    line-height: 0.9;
}
p{
    line-height: 1.3;
}
.Seotext .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 44.666667%;
    max-width: 44.666667%;
}
.Pilotos .card{
    -webkit-box-shadow: -1px 10px 34px -2px rgba(166, 166, 166, 1) !important;
    box-shadow: -1px 10px 34px -2px rgba(166, 166, 166, 1) !important;
}
.Pilotos h2{
    color: #333333;
    text-transform: uppercase;
    width: 35%;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
}
.Pilotos h3{
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.3rem;

}

.Pilotos h4{
    color: #333333;
    font-weight: bold;
font-size: 1.5rem;
}
p  {
    color: #8f8f8f;
}

/*SECCON 1*/
.Section1-pilotos{
    background-size: cover!important;
    background: url('../../images/pilotos-bkg1.jpg');
    background-repeat: no-repeat;
    padding-top: 0rem;
    height: 30rem;

}





/*SECCION 2*/

.Section2-pilotos{
    background: url(../../images/pilotos-bkg2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: initial;

}


/*FOOTER*/

.Pilotos .Seccion-final{
    background-size: cover!important;
    background: url('../../images/pilotos-bkg4.jpg');
    background-repeat: no-repeat;
    height: 70rem;
    margin-top: 26rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Pilotos .Seccion-final .Container-card{
    top: -30%;
    position: relative;
}

.Pilotos .Btn-blue{
    width: 13rem;
    height: 2.5rem;
}



.Pilotos .Seccion-final .Card-row {
    margin-bottom: 0!important;
}
.Pilotos .Seccion-final .carousel-indicators{
    padding-top: 2%;
}

.Pilotos .Seccion-final .carousel-control-prev{
    top: 45%;
}
.Pilotos .Seccion-final .carousel-control-next{
    top: 47%;
}

.Pilotos .Seccion-final h4{
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.Pilotos .Seccion-final .Container-video{
}





@media (max-width: 1100.98px) {
    .Pilotos #carouselExampleIndicators{
        height: 35rem!important;
    }
    .Pilotos .Seccion-final {
        background-size: cover!important;
        background: url(/static/media/pilotos-bkg4.1d1f1449.jpg);
        background-repeat: no-repeat;
        height: 63rem;
        margin-top: 26rem;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media (max-width: 991.98px) {
    .Seccion-final{
        justify-content: center;
        margin-top: 0rem!important;
    }
    .Pilotos #carouselExampleIndicators {
        height: 23rem!important;
    }
}
@media (max-width: 1025px) and (min-width: 768px){
    .Section3-pilotos{
        margin-bottom: 40rem;
    }
    .Pilotos .Seccion-final .Container-card {
        top: -59%;
        position: relative;
    }

    .Pilotos .Row1{
        width: 100% !important;
        margin: 0!important;
    }
    .Pilotos .Seccion-final h4 {
        color: #ffffff;
        font-weight: bold;
        font-size: 2.5rem!important;
        text-transform: uppercase;
    }
}
@media (max-width: 992px){
    .Pilotos-h1-movil{
        font-family: 'Barlow Condensed', sans-serif!important;
        font-size: 2.5rem!important;
        color: #FFFFFF!important;
        font-weight: 600!important;

    }

    .Section1-pilotos {
        background-size: cover!important;
        background: url(/static/media/pilotos-bkg1.de6b0e65.jpg);
        background-repeat: no-repeat;
        padding-top: 0rem;
        height: 18rem;
    }
    .Pilotos .Container-video .Z-index3{
        margin-top: -14rem;
    }
    .Seccion-final{
        height: 60rem!important;
    }

    .Pilotos .Seccion-final .Container-card {
        top: -77%;
        position: relative;
    }
    .Section3-pilotos{
        margin-bottom: 29rem;
    }
    .Logo-footer-movil {
        max-width: none;
        padding-top: 24px;
        width: 268px;
        margin-top: -33px;
    }
    .Pilotos .Oculto-tablet{
       /* display: none!important;*/
    }
    .Pilotos h2 {
        color: #333333;
        text-transform: uppercase;
        width: 50%;
        font-weight: bold;
        font-size: 3rem;
        line-height: 1;
    }
    .Pilotos-h2-movil{
        font-family: 'Roboto', sans-serif!important;
        text-transform: initial!important;
        font-size: 1rem!important;
        color: #FFFFFF!important;
        width: 100% !important;
        font-weight: normal!important;

    }
}
@media (max-width: 768px) and (min-width: 767px) {
    .Section1-pilotos .pl-md-5{
        padding-left: 1rem!important;
    }
}
@media (max-width: 767px) {
    .Pilotos .Ocultar-movil{
        display: none!important;;
    }
    .Pilotos h4 {
        font-size: 3rem!important;
    }
    .Section2-pilotos {
        background: none;
    }
    .Section1-pilotos {
        background-size: cover!important;
        background: url(/static/media/pilotos-bkg1.de6b0e65.jpg);
        background-repeat: no-repeat;
        padding-top: 1rem;
        background-position: top;
        height: 24rem;
    }
    .Pilotos .Seccion-final {
        height: 36rem!important;
        margin-top: 0rem!important;
        padding-top: 19rem;
    }
}


@media (max-width: 575.98px) {
    .Seccion-final{
        justify-content: center;
        margin-top: 0rem!important;
    }
    .Pilotos h2{
        width: 100%;
    }
    .Section1-pilotos {
        background-size: cover!important;
        background: url(/static/media/pilotos-bkg1.de6b0e65.jpg);
        background-repeat: no-repeat;
        padding-top: 1rem;
        background-position: top;
        height: 24rem;
    }

    .Pilotos-h1-movil{
        font-family: 'Barlow Condensed', sans-serif!important;
        font-size: 2.5rem!important;
        color: #FFFFFF!important;
        font-weight: 600!important;

    }
    .Pilotos-h2-movil{
        font-family: 'Roboto', sans-serif!important;
        text-transform: initial!important;
        font-size: 1rem!important;
        color: #FFFFFF!important;
        font-weight: normal!important;

    }
    .Pilotos p{
        color: #333333;
    }


}

