header{
  background-size: cover;
  background:linear-gradient(
          #275faa,
          #275faa
  ), url('https://via.placeholder.com/1920x960') no-repeat;
  height: 960px;

}

header>.container{
  margin: 10% auto;
}

.Iconos-header{
  border-left: 1px solid white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*-------------------*/
/*  MEGAMENU */
/*-------------------*/
.Megamenu{
  background-color: transparent;
  color: #ffffff;
  border: 2px solid white;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
