
p{
    font-family: 'Roboto', sans-serif!important;

}
header{
    width: 100%;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif!important;
}
h2 {
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif!important;
    font-size: 4rem!important;
}
h3{
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif!important;

}
h4{
    font-family: 'Barlow Condensed', sans-serif!important;

}


.Text-gray {
    color: #333333;

}

.Red-text {
    color: #D24228;
}

.Btn-red {
    background-color: #D24228;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-size: .9rem;
    font-weight: 600;
    padding: 0.625rem;
    width: 11rem;
}
.Btn-gris{
    background-color: #999999;
    color: #fff;
    border: 0;
    padding: 0.5rem;
    width: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
}

.Btn-gris-sinfondo{
    background-color: transparent;
    color: #999999;
    border: 2px solid #999999;
    padding: 0.3rem;
    width: 8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
}

.Btn-darkblue-h {
    background-color: #174382;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-size: .75rem;
    margin-top: 3rem;
    font-weight: 600;
    padding: 0.8125rem;
    width: 12rem;
}

.Btn-red-h {
    background-color: #D24228;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-size: .8rem;
    font-weight: 600;
    padding: 0.8125rem;
    width: 12rem;

}

.Btn-blue {
    background-color: #2260B3;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-size: .95rem;
    font-weight: 600;
    padding: 0.5rem;
    width: 8.6rem;
    height: 2.8rem;
}

.Btn-blue2 {
    background-color: #2260B3;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-size: .88rem;
    font-weight: 600;
    padding: 0.5rem;
    width: 11rem;
    height: 2.5rem;
}

.Btn-darkblue {
    background-color: #174382;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-size: .9rem;
    margin-top: 3rem;
    font-weight: 600;
    padding: 0.5rem;
    width: 7.8rem;
}

.Copyrigth-text {
    font-size: 0.7rem;
}

.Copyrigth-text > a {
    font-size: 0.7rem;
    text-decoration: underline;
    color: #ffffff;
}


/*SPINER PAGELOAD*/

.pg-loading-screen{
    background-image: url("images/bkg-1.jpg");
}
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}
.Goo-ico-white{
    font-size: 2.7rem;
    color: white;
    margin-top: 0.1rem;
    border: 0;
    border-radius: 0;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}