body{
    overflow-y: scroll;
    overflow-x: hidden;
}

.Filtro h1{
    color:white;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
text-transform: uppercase;
}
.Filtro h1>span{
    color: #4e80c1;
    font-weight: bold;


}
.Z-index-alto{
    z-index: 9999999!important;
}

.Filtro h2{
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
}
.Filtro h3{
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;

}
.Filtros-color{
    color:#676767;
}
.Filtro h4{
    color: #333333;
    font-weight: bold;
    font-size: 1.5rem;
}
p  {
    color: #8f8f8f;
}

/*SECCON 1*/
.Section1-filtro{
    background-size: cover!important;
    background: url('../../images/filtro-bkg1.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 0rem;
    min-height: 21rem;

}


/*SECCON 2*/
.Section2-filtro {
    position: relative;
    padding-top: 2rem;
    margin-bottom: 14rem;
}



.Seccion3-filtro-bkg {
    right: 0%;
    position: absolute;
    top: -13%;
    z-index: -10;
}

.Margen-negativo{
    margin-top: -13rem;
}




/*SECCION 3*/

.Section3-filtro{
    background-size: cover!important;
    background: url('../../images/pilotos-bkg4.jpg');
    background-repeat: no-repeat;
    height: 60rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Section3-filtro .Z-index3{
    padding-top: 10rem;
}
.H-38{
    height: 38rem!important;
}
.Pack_historico{
    background-color: #1ea6ac;
    color: #ffffff;

    width: 10rem;
    border: 2px solid #1ea6ac;
}
/*FOOTER*/
/*
.Section4-filtro{
    background-size: cover!important;
    background: url('../../images/filtro-bkg4.jpg');
    background-repeat: no-repeat;
    height: 60rem;
    margin-top: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Section4-filtro .Container-card{
    top: -30%;
    position: relative;
}*/

.Filtro .Btn-blue{
    width: 13rem;
    height: 2.5rem;
}



.Section4-filtro .Card-row {
    margin-bottom: 0!important;
}
.Section4-filtro .carousel-indicators{
    padding-top: 2%;
}

.Section4-filtro .carousel-control-prev{
    top: 45%;
}
.Section4-filtro .carousel-control-next{
    top: 47%;
}

.

.Section4-filtro .Container-video{
}


/*SECTION 3*/

.Section4-filtro{
}

.Links-footer>div{
    padding-top: 0.5rem;
    text-align: left;
}
.Links-footer>div a{
    text-align: left;
    font-size: 0.9rem;
}
.Filtro footer{
    background-color: #2260b2;
    padding: 1.5rem;
}

.Filtro footer .Div-ico{
    width: 7.3%;
}

.Filtro footer .Div-ico img{
    width: 2.7rem;
}


.Input-gray{
    color: #b5b5b6;
    font-size: .75rem!important;
}

.Input-gray .form-check-label{
    color: #b5b5b6;
    font-size: .75rem!important;
}


.Footer_estilohome{
    display: none;
}


@media all and (max-width: 1199px) {
    .Footer_estilohome{
        display: none;
    }
}

@media all and (max-width: 991px) {
    .Footer_estilohome{
        display: none;
    }
}

@media all and (max-width: 768px) {
    .Footer_estilohome{
        display: none;
    }
    .Section2-filtro {
        position: relative;
        padding-top: 2rem;
        margin-bottom: 6rem;
    } .Filtro h1 {
          color: white;
          font-family: 'Barlow Condensed', sans-serif;
          font-weight: bold;
          font-size: 2.5rem;
          padding-top: 1rem!important;
          text-transform: uppercase;
      }
    .Section1-filtro{
        background-size: cover!important;
        background: url('../../images/filtro-bkg1.jpg');
        background-position-x: center;
        background-repeat: no-repeat;
        padding-top: 0rem;
        min-height: 14rem;

    }

    .Margen-negativo{
    margin-top: 0;
}
    .Section3-filtro {
        background-size: cover!important;
        height: 40rem;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .Section3-filtro .Z-index3 {
        padding-top: 13rem;
    }
}

@media all and (max-width: 575px) {
    .Footer_estilo1{
        display: none;
    }
    .Section2-filtro {
        position: relative;
        padding-top: 2rem;
        margin-bottom: 1rem;
    }
    .Section3-filtro {
        background-size: cover!important;
        height: 34rem;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .Section3-filtro .Z-index3 {
        padding-top: 13rem;
    }
    .Footer_estilohome{
        display: initial;
    }
    .Botones-filtro{
        display: none;
    }
    .Filtro h1 {
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        padding-top: 1rem!important;
        text-transform: uppercase;
    }
}