
.Bloge h1 {
    color: white;
    font-weight: bold;
    font-size: 3.8rem;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1;
    margin-bottom: 1.2rem;
}

.Vol-coloms-g{
    height: 8rem;
}


.Bloge h1>span{
    color: #4e80c1;
    font-weight: bold;


}

 .Section2-bloge h2{
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.6rem!important;
}
.Bloge h3{
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: none;
    font-size: 1.7rem;

}

.Bloge h4{
    color: #333333;
    font-weight: bold;
    font-size: 1.5rem;
}
.Bloge .container{
  max-width: 1240px!important;
}

/*SECCON 1*/
.Section1-bloge{
    background-size: cover!important;
    background: url('../../images/bloge-bkg1.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    min-height: 30rem;

}
.Btn-gris{
    background-color: #999999;
    color: #fff;
    border: 0;
    padding: 0.5rem;
    width: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
}


/*SECCON 2*/
.Section2-bloge {
    position: relative;
    padding-top: 2rem;
}
.Section2-bloge p{
    color: #666666!important;
    font-family: 'Roboto', sans-serif!important;

}
.Section2-bloge p a{
    color: #2260b2;
    text-decoration: underline;
    font-weight: 600;
}
/*ICONOS FONT AWESOMEE A COLOR*/

.Face-ico-color{
    color:#3a559f;
    font-size: 2.2rem;
}
.Twit-ico-color{
    color:#50abf1;
    font-size: 2.2rem;
}
.You-ico-color{
    color:#dc472e;
    font-size: 2.2rem;
}
.Ins-ico-color{
    color:#507fa7;
    font-size: 2.2rem;
}
.Goo-ico-color{
     color:#dd4b39;
    font-size: 2.2rem;
 }
.Link-ico-color{
    color:#0084b1;
    font-size: 2.2rem;
}






.Seccion3-bloge-bkg {
    right: 0%;
    position: absolute;
    top: -13%;
    z-index: -10;
}

.Bloge .Row-exp img{
    height: 15rem;
}

.Bloge .Row-exp>div{
    text-align: center;
}

.Elige-experiencia-titulo{
    color: #666666;
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
}


/*SECCION 3*/

.Section3-bloge{
    position: relative;
    padding-top: 6rem ;
    padding-bottom: 8rem ;

}


/*FOOTER*/
/*
.Section4-bloge{
    background-size: cover!important;
    background: url('../../images/bloge-bkg4.jpg');
    background-repeat: no-repeat;
    height: 60rem;
    margin-top: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Section4-bloge .Container-card{
    top: -30%;
    position: relative;
}*/

.Bloge .Btn-blue{
    width: 13rem;
    height: 2.5rem;
}



.Section4-bloge .Card-row {
    margin-bottom: 0!important;
}
.Section4-bloge .carousel-indicators{
    padding-top: 2%;
}

.Section4-bloge .carousel-control-prev{
    top: 45%;
}
.Section4-bloge .carousel-control-next{
    top: 47%;
}

.

.Section4-bloge .Container-video{
}


/*SECTION 3*/

.Section4-bloge{
}

.Links-footer>div{
    padding-top: 0.5rem;
    text-align: left;
}
.Links-footer>div a{
    text-align: left;
    font-size: 0.9rem;
}
.Bloge footer{
    background-color: #2260b2;
}

.Bloge footer .Div-ico{
    width: 9.3%;
}

.Bloge footer .Div-ico img{
    width: 2.7rem;
}

.Exp-peq{
    display: flex;justify-content: center;
    position: relative;
}
.Exp-peq h5{
    color: white;
    font-weight: 600;
    position: absolute;
    right: 28%;
    top: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
}



@media (min-width: 1550px) {

}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 991px) {

}

@media all and (max-width: 768px) {

    .Bloge .Experiencia-completa{
        padding-bottom: 0;
    }
.Bloge .Experiencia-completa h5{
    text-align: center!important;
}
    .Bloge h1{
        font-size: 2.5rem!important;
    }
    .Bloge h2{
        font-size: 2.5rem!important;
    }
    .Bloge h3{
        font-size: 1.5rem!important;
    }
    .w-25{
        width: 100%!important;
    }
    .w-50{
        width: 100%!important;
    }
    .w-75{
        width: 100%!important;
    }

}

@media all and (max-width: 575px) {

}
